---
import Logo from '../assets/logo.png';
---

<nav>
	<div class="nav_izquierda">
		<a href="/">
			<img src={Logo.src} alt="Logo" />
		</a>
	</div>
	<div class="nav_derecha">
		<a href="/">Home</a>
		<a href="/about">About Us</a>
		<a href="/mission">APOD</a>
	</div>
</nav>

<style>
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 3rem;
	}

	.nav_izquierda img {
		width: 100px;
		height: auto;
	}

	.nav_derecha a {
		font-family: 'Roboto-Bold', sans-serif;
		color: white;
		text-decoration: none;
		margin-left: 4rem;
		font-size: 1.3rem;
		transition: color 0.3s;
		padding: 0.5rem 1rem;
		border-radius: 20px;
		transition: .3s ease-in-out, box-shadow .3s ease-in-out;
	}

	.nav_derecha a:hover {
		color: #000000;
    	box-shadow: inset 200px 0 0 0 #ffffff;
	}

	@media (max-width: 1024px) {
		nav {
			padding: 1rem 1.5rem;
		}
		.nav_derecha a {
			margin-left: 2rem;
			font-size: 1.1rem;
			padding: 0.4rem 0.7rem;
		}
	}

	@media (max-width: 700px) {
		nav {
			flex-direction: column;
			align-items: flex-start;
			gap: 1rem;
			padding: 1.5rem 1rem;
		}
		.nav_izquierda {
			width: 100%;
			display: flex;
			justify-content: center;
		}
		.nav_izquierda img {
			width: 70px;
		}
		.nav_derecha {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 2rem;
		}
		.nav_derecha a {
			margin-left: 0;
			font-size: 1rem;
			padding: 0.3rem 0.5rem;
		}
	}

</style>
